.page {
    margin: 0 22vw 0 22vw;
    text-align: left;
}

.main-img {
    margin-bottom: 2vw;
}

.section {
    font-size: 18px;
    margin-bottom: 10vw;
    line-height: 30px;
}

.page h1 {
    text-align: center;
    color: rgb(81, 81, 81);
}

.errors {
    max-width: 50%;
}

li {
    margin-bottom: 2vw;
}

#lo-row1 {
    margin-bottom: 1vw;
}

#lo-row2 {
    margin-top: 0;
    margin-bottom: 1vw;
}

#lo-row3 {
    margin-top: 0;
}

.tablet-lo {
    max-width: 40vw;
    height: auto;
}

.desktop-lo {
    max-width: 40vw;
    height: auto;
}

.style-guide {
    max-width: 30vw;
    height: auto;
}

.page span {
    font-weight: 1000;
    color: rgb(0, 0, 0);
}

#usability,
#accessibility {
    list-style-type: none;
    margin-top: 3vw;
}

#goal {
    background-color: rgb(234, 234, 234);
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 15px;
    margin-top: 2vw;
}