@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Source+Sans+Pro:wght@300;400&display=swap');

html {
  background: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.5vw;
}

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  position: relative;
}

.body {
  min-height: 100vh;
}
